
    <div class="row flex-nowrap" xmlns:th="http://www.thymeleaf.org" th-fragment="header">
        <div class="">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-light">Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/book" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-light">Book</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/category" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-light">Category</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/author" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-light">Author</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>